.heroImage {
  object-fit: cover;
  aspect-ratio: 3/4;
  width: 100%;
}

.heroContainer {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

@screen md {
  .heroImage {
    aspect-ratio: 3/2;
  }
}

@screen xl {
  .heroImage {
    aspect-ratio: 18/10;
  }
}

.heroCaption {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 1422px) {
  .heroCaption {
    padding-left: 0px;
  }
}

.imageWrapper {
  max-width: 1422px;
}
