.markdown {
  @apply text-base md:text-lg leading-relaxed font-primary;
}

.markdown a[target="_blank"]::after {
  content: "";
  width: 1em;
  height: 1em;
  margin: 0 0.05em 1px 4px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+)
    no-repeat;
  filter: invert(50%) sepia(100%) hue-rotate(195deg) saturate(1000%)
    brightness(80%);
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
}

.markdown native-gallery {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 16px;
}

.markdown native-gallery-wrapper {
  @apply max-w-article block;
  position: relative;
}

.markdown native-gallery-wrapper::after {
  @apply bottom-1 bg-gray-900 absolute p-1 text-white text-center font-primary font-semibold;
  content: "Liu'uta";
  left: 50%;
  transform: translateX(-50%);
}

.markdown native-gallery:not(.-loaded) [loading="lazy"] {
  /* without display none images with loading="lazy" are loaded immediately */
  display: none;
}

.markdown native-gallery img {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
  scroll-snap-align: center;
}

.markdown > * {
  @apply mx-auto mb-6 max-w-article;
}

.markdown *:first-child {
  @apply mt-0;
}

.markdown cite {
  @apply block pt-2 text-sm;
}

.markdown img {
  @apply m-auto;
  width: auto;
  height: auto;
  max-height: 720px;
}
.markdown iframe {
  @apply w-full max-w-none aspect-video;
}
.markdown figure {
  @apply w-full mb-6 max-w-none flex flex-col items-center;
}
.markdown figcaption {
  @apply text-gray-500 font-primary text-sm text-center mt-2;
}

.markdown p,
.markdown blockquote {
  @apply mb-6;
}

.markdown h1 {
  @apply text-3xl mt-12 leading-snug mb-0 font-bold;
}

.markdown h2 {
  @apply text-2xl mt-12 leading-snug font-bold mb-0;
}

.markdown h3 {
  @apply text-xl mt-8 leading-snug mb-0;
}

.markdown blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic;
}

.markdown a {
  @apply text-blue-600 underline;
}

.markdown ul {
  @apply list-disc list-inside pl-8;
}

.markdown ol {
  @apply list-decimal list-inside pl-8;
}

.markdown ol p {
  @apply inline;
}

.markdown code {
  @apply bg-gray-100 rounded px-2 font-mono break-words overflow-scroll;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4 font-mono break-words overflow-scroll;
}

.markdown hr {
  @apply border-0 border-b-2 border-gray-200;
}
